doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/fullcanvas.css')
    body
        canvas#canvas-full
        script(type='text/javascript' src='/javascripts/fullcanvas.js')
        script(type='text/javascript' src='/javascripts/#{script}.js')
