doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/fullcanvas.css')
    body
        canvas#full-canvas
        script(type='text/javascript' src='/js/lib/require.js')
        script.
            require(["/js/Canvas.js", "/js/#{script}.js"], function (Canvas, Client) {
                var canvas = document.getElementById("full-canvas");
                Canvas.keepFullSize(canvas);
                new Canvas.RenderLoop(canvas, Client.createRenderClient()).start();
            });
