doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/fullcanvas.css')
    body
        canvas#full-canvas
        script(type='text/javascript' src='/js/lib/require.js')
        script.
            require(["/js/fullcanvas.js", "/js/#{script}.js"], function (FullCanvas, Client) {
                new FullCanvas.Controller(document.getElementById("full-canvas"), new Client.createClientFactory().create()).start();
            });
