doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/fullcanvas.css')
    body
        canvas#full-canvas
        script(type='text/javascript' src='/js/lib/require.js')
        script.
            require(["/js/fullcanvas.js", "/js/#{script}.js"], function (fc, client) {
                new fc.Controller(document.getElementById("full-canvas"), new client.createClientFactory().create()).start();
            });
